apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJkekNDQVIyZ0F3SUJBZ0lCQURBS0JnZ3Foa2pPUFFRREFqQWpNU0V3SHdZRFZRUUREQmhyTTNNdGMyVnkKZG1WeUxXTmhRREUzTkRVd09UQXhOalV3SGhjTk1qVXdOREU1TVRreE5qQTFXaGNOTXpVd05ERTNNVGt4TmpBMQpXakFqTVNFd0h3WURWUVFEREJock0zTXRjMlZ5ZG1WeUxXTmhRREUzTkRVd09UQXhOalV3V1RBVEJnY3Foa2pPClBRSUJCZ2dxaGtqT1BRTUJCd05DQUFSYndsc2R0NFRlY2pmcVFrL3hOWmFrbW50dHRnV1dhWG92QktXYlNXcVcKMkNqckhQMXlJUyt6WXdUVzEzd2FobGx2RkNTbVRvbWt4WGR6RkxuRFpoZ29vMEl3UURBT0JnTlZIUThCQWY4RQpCQU1DQXFRd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZEJnTlZIUTRFRmdRVXNnekhwVFNGTzY4K3VpYWtVSWJiCkpCdWZVZEF3Q2dZSUtvWkl6ajBFQXdJRFNBQXdSUUlnWHNvYlJJNkhjM05pcGVkTUExSUYwN3ZWTzNFY0lyRVMKVHBVMXhVZE5RWjRDSVFEeEc0NlVjQld5bEh0SUNKSDBtWlRCZEs3azZBQU5iSVRDMkN6MGV0N3JTZz09Ci0tLS0tRU5EIENFUlRJRklDQVRFLS0tLS0K
    server: https://127.0.0.1:6443
  name: default
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: default
  user:
    client-certificate-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUJrakNDQVRlZ0F3SUJBZ0lJWmhMcHZDaWRmNFF3Q2dZSUtvWkl6ajBFQXdJd0l6RWhNQjhHQTFVRUF3d1kKYXpOekxXTnNhV1Z1ZEMxallVQXhOelExTURrd01UWTFNQjRYRFRJMU1EUXhPVEU1TVRZd05Wb1hEVEkyTURReApPVEU1TVRZd05Wb3dNREVYTUJVR0ExVUVDaE1PYzNsemRHVnRPbTFoYzNSbGNuTXhGVEFUQmdOVkJBTVRESE41CmMzUmxiVHBoWkcxcGJqQlpNQk1HQnlxR1NNNDlBZ0VHQ0NxR1NNNDlBd0VIQTBJQUJFY3ZVZEc0SmZzVVVJL2sKTTZBUGhwQmRuTzRPL2xPK1pJektCY3lVSElKNVYrV2RvcDhIRTdHNjVkdzg1SkZTc3p2c1UzZUhLbkFBbEZ0OApBbUtPMEhpalNEQkdNQTRHQTFVZER3RUIvd1FFQXdJRm9EQVRCZ05WSFNVRUREQUtCZ2dyQmdFRkJRY0RBakFmCkJnTlZIU01FR0RBV2dCUnVoaUhodDJaZnQ3QXpKd3RtaElLU3MrbXBGREFLQmdncWhrak9QUVFEQWdOSkFEQkcKQWlFQS9ERDltenlleFdTQVhvdTFZU0E3a0JLNytRR21FMm90UGd3dVcrNWJiYWtDSVFDZGdiY2hJK29KMVNYKwpCMDl5bWZNYnk2dGhWZGMxempvUUk1eFQxUWUvVVE9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCi0tLS0tQkVHSU4gQ0VSVElGSUNBVEUtLS0tLQpNSUlCZHpDQ0FSMmdBd0lCQWdJQkFEQUtCZ2dxaGtqT1BRUURBakFqTVNFd0h3WURWUVFEREJock0zTXRZMnhwClpXNTBMV05oUURFM05EVXdPVEF4TmpVd0hoY05NalV3TkRFNU1Ua3hOakExV2hjTk16VXdOREUzTVRreE5qQTEKV2pBak1TRXdId1lEVlFRRERCaHJNM010WTJ4cFpXNTBMV05oUURFM05EVXdPVEF4TmpVd1dUQVRCZ2NxaGtqTwpQUUlCQmdncWhrak9QUU1CQndOQ0FBUnRubnlTTUQ5a2IwZDkvRnIrVUhUdWppdjlZS25uZWxKakZCamEyV0FwCmJFWTgyTkphU1JrTzNxeDhJMXRIdkM1cDM2VkFyY3AzenMxTDgzWU1od3lVbzBJd1FEQU9CZ05WSFE4QkFmOEUKQkFNQ0FxUXdEd1lEVlIwVEFRSC9CQVV3QXdFQi96QWRCZ05WSFE0RUZnUVVib1loNGJkbVg3ZXdNeWNMWm9TQwprclBwcVJRd0NnWUlLb1pJemowRUF3SURTQUF3UlFJaEFLMk5MZ1dzVi82U0piRUZ6VTBNT2VQdVZrcGs4NWI2CjZOMENSNWYvNFFQakFpQmRpRkduREw0ZmQyZEZucFB0T0ZCVEY0OU12Yk9MOXlYWjBhMnM1VTdSZGc9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    client-key-data: LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUlIVWoxajF3OXlDK2V4TnRLa08yNXlBTXFXbU5iaytHbU1TL0hxbmJrYjBvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFUnk5UjBiZ2wreFJRaitRem9BK0drRjJjN2c3K1U3NWtqTW9GekpRY2dubFg1WjJpbndjVApzYnJsM0R6a2tWS3pPK3hUZDRjcWNBQ1VXM3dDWW83UWVBPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=

data-dir: /app-storage
token-file: /app-storage/server/token
default-runtime: nvidia
tls-san:
  - "picklemustard.dev"
