apiVersion: v1
data:
  configuration.yml: >
    ---

    theme: 'dark'

    default_2fa_method: 'totp'

    certificates_directory: '/config/certificates/'

    server:
      address: 'tcp://0.0.0.0:9091/authelia'
      disable_healthcheck: false
      tls:
        key: ''
        certificate: ''
      buffers:
        read: 8192
        write: 8192
      timeouts:
        read: '6 seconds'
        write: '6 seconds'
        idle: '30 seconds'
      endpoints:
        authz:
          forward-auth:
            implementation: 'ForwardAuth'
          ext-authz:
            implementation: 'ExtAuthz'
          auth-request:
            implementation: 'AuthRequest'
          legacy:
            implementation: 'Legacy'
    log:
      level: 'debug'
      format: 'text'
      keep_stdout: true
    telemetry:
      metrics:
        enabled: false
    access_control:
      default_policy: 'deny'
      rules:
        - domain: 'auth.picklemustard.dev'
          policy: 'one_factor'
        - domain: 'andromeda.picklemustard.dev'
          policy: 'two_factor'
        - domain: 'media.picklemustard.dev'
          policy: 'two_factor'
    identity_validation:
      elevated_session:
        code_lifespan: '5 minutes'
        elevation_lifespan: '10 minutes'
        characters: 8
        require_second_factor: false
        skip_second_factor: false
      reset_password:
        jwt_lifespan: '5 minutes'
        jwt_algorithm: 'HS256'
    totp:
      disable: false
      issuer: 'picklemustard.dev'
      skew: 1
      secret_size: 32
      algorithm: 'SHA1'
      digits: 6
      period: 30
      allowed_algorithms:
        - 'SHA1'
      allowed_digits:
        - 6
      allowed_periods:
        - 30
    webauthn:
      disable: false
      enable_passkey_login: true
      display_name: 'Authelia'
      attestation_conveyance_preference: 'indirect'
      timeout: '60 seconds'
      filtering:
        permitted_aaguids: []
        prohibited_aaguids: []
        prohibit_backup_eligibility: false
      selection_criteria:
        attachment: ''
        discoverability: 'preferred'
        user_verification: 'preferred'
      metadata:
        enabled: false
        validate_trust_anchor: true
        validate_entry: true
        validate_entry_permit_zero_aaguid: false
        validate_status: true
        validate_status_permitted: []
        validate_status_prohibited: 
          - 'REVOKED'
          - 'USER_KEY_PHYSICAL_COMPROMISE'
          - 'USER_KEY_REMOTE_COMPROMISE'
          - 'USER_VERIFICATION_BYPASS'
          - 'ATTESTATION_KEY_COMPROMISE'
    ntp:
      address: 'udp://time.cloudflare.com:123'
      version: 4
      max_desync: '3 seconds'
      disable_startup_check: false
      disable_failure: false
    authentication_backend:
      ldap:
        implementation: 'lldap'
        address: 'ldap://lldap-service.auth.svc.cluster.local:3890'
        base_dn: 'dc=andromeda,dc=picklemustard,dc=dev'
        user: 'uid=bind_reader,ou=people,dc=andromeda,dc=picklemustard,dc=dev'
        users_filter: '(&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))'
        attributes:
          username: 'uid'
          display_name: 'cn'
          mail: 'mail'
          member_of: 'memberOf'
          group_name: 'cn'
      password_change:
        disable: false
    password_policy:
      standard:
        enabled: false
        min_length: 8
        max_length: 0
        require_uppercase: false
        require_lowercase: false
        require_number: false
        require_special: false
      zxcvbn:
        enabled: false
        min_score: 0
    session:
      name: 'authelia_session'
      same_site: 'lax'
      inactivity: '5 minutes'
      expiration: '1 hour'
      remember_me: '1 month'
      cookies:
        - domain: 'picklemustard.dev'
          authelia_url: 'https://auth.picklemustard.dev/authelia'
    regulation:
      modes:
      - 'user'
      max_retries: 3
      find_time: '2 minutes'
      ban_time: '5 minutes'
    storage:
      postgres:
        address: "postgres-postgresql.postgres.svc.cluster.local"
        database: "authentication"
        username: "postgres_fid"
    notifier:
      disable_startup_check: false
      smtp:
        address: 'submissions://mail.picklemustard.dev:465'
        timeout: '5s'
        username: 'postmaster'
        sender: "Authelia <postmaster@picklemustard.dev>"
        identifier: 'picklemustard.dev'
        subject: "[Authelia] {title}"
        startup_check_address: 'postmaster@picklemustard.dev'
        disable_require_tls: false
        disable_starttls: false
        disable_html_emails: false
    identity_providers:
      oidc:
        jwks:
          - key_id: 'authelia'
            algorithm: 'RS256'
            use: 'sig'
            key: {{ secret "/secrets/authelia/jwks/rsa.2048.key" | mindent 10 "|" | msquote }}
            certificate_chain: {{ secret "/secrets/authelia/jwks/rsa.2048.cert" | mindent 10 "|" | msquote }}
        clients:
          - client_id: '35e7977e5745649b2f3c62642673798cce63766f27c636b6a0445450a830756f'
            client_name: 'Jellyfin Media Server'
            client_secret: {{ secret "/secrets/authelia/client/jellyfin-secret" | mindent 10 "|" | msquote }}
            public: false
            authorization_policy: 'two_factor'
            require_pkce: true
            pkce_challenge_method: 'S256'
            scopes:
              - 'openid'
              - 'profile'
              - 'email'
              - 'groups'
            redirect_uris:
              - https://media.picklemustard.dev/stream/sso/OID/redirect/authelia
              - http://media.picklemustard.dev/stream/sso/OID/redirect/authelia
            response_types:
              - 'code'
            grant_types:
              - 'authorization_code'
            access_token_signed_response_alg: 'none'
            userinfo_signed_response_alg: 'none'
            token_endpoint_auth_method: 'client_secret_post'
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: authelia-config
    app.kubernetes.io/name: authelia-config
    app.kubernetes.io/version: 4.39.1
  name: authelia-config
  namespace: auth

