apiVersion: apps/v1
kind: Deployment
metadata:
  name: authelia
  namespace: auth
  labels:
    app.kubernetes.io/instance: authelia
    app.kubernetes.io/name: authelia
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: authelia
      app.kubernetes.io/name: authelia
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: authelia
        app.kubernetes.io/name: authelia
    spec:
      enableServiceLinks: false
      containers:
      - name: authelia
        image: authelia/authelia:latest
        env:
        - name: "X_AUTHELIA_CONFIG_FILTERS"
          value: "template"
        - name: "AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE"
          value: /secrets/authelia/hmac-secret
        - name: "AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE"
          value: /secrets/authelia/jwt-secret
        - name: "AUTHELIA_SESSION_SECRET_FILE"
          value: /secrets/authelia/session-secret
        - name: "AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE"
          value: /secrets/authelia/ldap-password
        - name: "AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE"
          value: /secrets/authelia/postgres-password
        - name: "AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE"
          value: /secrets/authelia/postmaster-secret
        - name: "AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE"
          value: /secrets/authelia/storage-encryption-key
        ports:
        - containerPort: 9091
          name: http
          protocol: TCP
        volumeMounts:
        - name: config
          mountPath: /config/configuration.yml
          readOnly: false
          subPath: configuration.yml
        - name: authelia-secrets
          mountPath: '/secrets/authelia'
          readOnly: true
        - name: jwks
          mountPath: '/secrets/authelia/jwks'
          readOnly: true
        - name: client
          mountPath: '/secrets/authelia/client'
          readOnly: true
        - name: data
          mountPath: /data
        - name: certificate
          mountPath: /config/certificates/tls.cert
          readOnly: true
          subPath: tls.cert
        - name: key
          mountPath: /config/certificates/tls.key
          readOnly: true
          subPath: tls.key
      volumes:
      - name: authelia-secrets
        secret:
          secretName: authelia-credentials
      - name: jwks
        secret:
          secretName: authelia-oidc-jwks
      - name: client
        secret:
          secretName: authelia-oidc-clients
      - name: config
        configMap:
          defaultMode: 0777
          name: authelia-config
      - name: data
        persistentVolumeClaim:
          claimName: authelia-data-pvc
      - name: certificate
        secret:
          secretName: "picklemustard-dev-tls-authelia"
          items:
          - key: "tls.crt"
            path: "tls.cert"
      - name: key
        secret:
          secretName: "picklemustard-dev-tls-authelia"
          items:
          - key: "tls.key"
            path: "tls.key"
