apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
  creationTimestamp: '2025-05-14T00:08:55Z'
  finalizers:
    - kubernetes.io/pvc-protection
  labels:
    app.kubernetes.io/instance: config-data
    app.kubernetes.io/name: config-data 
  name: config-data 
  namespace: media 
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
