apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-config
  namespace: git
data:
  FORGEJO____APP_NAME: "Forgejo"
  FORGEJO__storage__STORAGE_TYPE: "minio"
  FORGEJO__storage__MINIO_ENDPOINT: "store.picklemustard.dev"
  FORGEJO__storage__MINIO_LOCATION: "us-east-1"
  FORGEJO__storage__MINIO_CHECKSUM_ALGORITHM: "default"
  FORGEJO__storage__MINIO_ACCESS_KEY_ID: "forgejo-access"
  FORGEJO__storage__MINIO_BUCKET: "forgejo-repositories"
  FORGEJO__storage__MINIO_USE_SSL: "true"
  FORGEJO__storage__SERVE_DIRECT: "false"
  FORGEJO__storage__MINIO_BUCKET_LOOKUP: "auto"
  FORGEJO__database__DB_TYPE: "postgres"
  FORGEJO__database__HOST: "postgres-postgresql.postgres.svc.cluster.local:5432"
  FORGEJO__database__NAME: "forgejo"
  FORGEJO__database__USER: "postgres_fid"
  FORGEJO__database__SCHEMA: "public"
  FORGEJO__server__DOMAIN: "git.picklemustard.dev"
  FORGEJO__server__ROOT_URL: "https://git.picklemustard.dev"
  FORGEJO__server__SSH_DOMAIN: "git.picklemustard.dev"
  FORGEJO__server__SSH_PORT: "22"
  FORGEJO__server__SSH_LISTEN_PORT: "22"
  FORGEJO__server__OFFLINE_MODE: "false"
  FORGEJO__server__LFS_START_SERVER: "true"
  FORGEJO__server__LFS_CONTENT_PATH: "/data/git/lfs"
  FORGEJO__ACTIONS__ENABLED: "true"
  FORGEJO__PACKAGES__ENABLED: "true"
  FORGEJO__REPOSITORY__ENABLE_PUSH_CREATE_USER: "true"
  FORGEJO__REPOSITORY__ENABLE_PUSH_CREATE_ORG: "true"
  FORGEJO__REPOSITORY__DEFAULT_REPO_UNITS: "repo.code,repo.releases,repo.issues,repo.pulls,repo.wiki,repo.projects,repo.packages,repo.actions"
  FORGEJO__SERVICE__DISABLE_REGISTRATION: "true"
  FORGEJO__SERVICE__REQUIRE_SIGNIN_VIEW: "true"
  FORGEJO__ldap__0__NAME: "Git Users"
  FORGEJO__ldap__0__SECURITY_PROTOCOL: "unencrypted"
  FORGEJO__ldap__0__HOST: "lldap-service.auth.svc.cluster.local"
  FORGEJO__ldap__0__PORT: "3890"
  FORGEJO__ldap__0__USER_SEARCH_BASE: "ou=people,dc=andromeda,dc=picklemustard,dc=dev"
  FORGEJO__ldap__0__USER_FILTER: "(&(objectClass=person)(uid=%s)(memberOf=cn=git-users,ou=groups,dc=andromeda,dc=picklemustard,dc=dev))"
  FORGEJO__ldap__0__ADMIN_FILTER: "(memberOf=cn=git-admin,ou=groups,dc=andromeda,dc=picklemustard,dc=dev)"
  FORGEJO__ldap__0__EMAIL_ATTRIBUTE: "mail"
  FORGEJO__ldap__0__USERNAME_ATTRIBUTE: "uid"
  FORGEJO__OAUTH2__ENABLE_AUTO_SUGGEST: "true"
