networks:
  macvlan_net:
    driver: macvlan
    driver_opts:
      parent: enp2s0
    ipam:
      config:
        - subnet: "192.168.200.0/24"
          gateway: "192.168.200.1"

  internal_bridge:
    driver: bridge
    ipam:
      config:
        - subnet: "172.20.0.0/24"
